<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{ layout :: header (${breadCrumbs}) }"></header>

<main>
    <form method="post" class="upsert-form" th:attr="action=@{/category/upsertBook}" th:object="${book}">
        <input type="hidden" />
        <table>
            <tbody>

            <tr>
                <td><label>Code*</label></td>
                <td>
                    <input type="text" th:field="*{code}" />
                    <div class="field-validation-error" th:errors="*{code}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Title*</label></td>
                <td>
                    <input type="text" th:field="*{title}" />
                    <div class="field-validation-error" th:errors="*{title}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Category</label></td>
                <td>
                    <input type="text" th:field="*{categoryName}" />
                    <div class="field-validation-error" th:errors="*{categoryName}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Author</label></td>
                <td>
                    <input type="text" th:field="*{authorId}" />
                    <div class="field-validation-error" th:errors="*{authorId}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Release Date</label></td>
                <td>
                    <input type="date" th:field="*{releaseDate}">
                    <div class="field-validation-error" th:errors="*{releaseDate}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Total Page</label></td>
                <td>
                    <input type="text" th:field="*{totalPage}" />
                    <div class="field-validation-error" th:errors="*{totalPage}"></div>
                </td>
            </tr>

            <tr>
                <td class="textarea-label"><label>Summary</label></td>
                <td>
                    <textarea th:field="*{summary}"></textarea>
                    <div class="field-validation-error" th:errors="*{summary}"></div>
                </td>
            </tr>

            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Book'"></button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>