<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>

<main>
    <div class="grid-container customer-index">
        <form method="get" class="filter" th:attr="action=@{/customer/index}">
            <input type="text" name="membershipNumber" placeholder="Number..." th:attr="value=${membershipNumber}">
            <input type="text" name="fullName" placeholder="Name..." th:attr="value=${fullName}">
            <button class="blue-button" type="submit">Search</button>
        </form>

        <a class="blue-button create-button" th:href="@{/customer/upsertForm}">Add New Customer</a>

        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>Membership Number</th>
                <th>Full Name</th>
                <th>Expire Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer: ${grid}">
                <td>
                    <a th:href="@{/customer/upsertForm(membershipNumber=${customer.membershipNumber})}" class="blue-button update-button">Edit</a>
                    <a th:href="@{/customer/delete(membershipNumber=${customer.membershipNumber})}" class="blue-button delete-button">Delete</a>
                    <a th:href="@{/customer/extend(membershipNumber=${customer.membershipNumber})}" class="blue-button update-button">Extend</a>
                </td>
                <td th:text="${customer.membershipNumber}"></td>
                <td th:text="${customer.fullName}"></td>
                <td th:text="${customer.membershipExpiredDate}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="pagination">
                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
                        <div>
                            <a th:each="loop:${#numbers.sequence(1,totalPages)}"
                               th:href="@{/customer/index(page=${loop},
                                            membershipNumber=${membershipNumber},
                                            fullName=${fullName},
                                            membershipExpireDate=${membershipExpiredDate})}"
                               th:text="${loop}">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>

</body>
</html>