<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header (${breadCrumbs})}"></header>

<main>
    <form method="post" class="upsert-form" th:attr="action=@{/customer/upsert}" th:object="${customer}">
        <input type="hidden" />
        <table>
            <tbody>
            <tr>
                <td><label>Membership Number*</label></td>
                <td>
                    <input type="text" th:field="*{membershipNumber}">
                    <div class="field-validation-error" th:errors="*{membershipNumber}"></div>
                </td>
            </tr>
            <tr>
                <td><label>First Name*</label></td>
                <td>
                    <input type="text" th:field="*{firstName}">
                    <div class="field-validation-error" th:errors="*{firstName}"></div>
                </td>
            </tr>
            <tr>
                <td><label>Last Name</label></td>
                <td>
                    <input type="text" th:field="*{lastName}">
                    <div class="field-validation-error" th:errors="*{lastName}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Birth Date*</label></td>
                <td>
                    <input type="date" th:field="*{birthDate}">
                    <div class="field-validation-error" th:errors="*{birthDate}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Gender*</label></td>
                <td>
                    <input type="text" th:field="*{gender}" />
                    <div class="field-validation-error" th:errors="*{gender}"></div>
                </td>
            </tr>

            <tr>
                <td><label>Phone</label></td>
                <td>
                    <input type="text" th:field="*{phone}" />
                    <div class="field-validation-error" th:errors="*{phone}"></div>
                </td>
            </tr>

            <tr>
                <td class="textarea-label"><label>Address</label></td>
                <td>
                    <textarea th:field="*{address}"></textarea>
                    <div class="field-validation-error" th:errors="*{address}"></div>
                </td>
            </tr>

            </tbody>
        </table>
        <button class="blue-button" type="submit" th:text="${type} + ' Customer'"></button>
    </form>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace="~{layout :: javascript}"></th:block>


</body>
</html>